
/* scroll bar hide using this class */
.scroller::-webkit-scrollbar {
    display: none;
}

/* active link or page hillited with background color  */
.active {
    background-color: #041832;
    color: white;
    padding:12px 15px 10px 20px;
    border-radius: 10px;
}